@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  width: 85px;
  height: 36px;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
}

.signup {
  width: 98px;
}

.text-gradient {
  color: #ffffff;
  font-weight: 600;
}

.text-gradient:hover {
  background: linear-gradient(183.29deg, #0078ef 30.95%, #4fa6fd 97.28%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.logo {
  width: 247px;
  height: 76px;
}

.intro-text {
  background: rgba(95, 108, 222, 0.75);
  backdrop-filter: blur(15px);
  border-radius: 20px 20px 0px 0px;
}

mark {
  background-color: #ffffff;
}

.daftar {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 185px;
  height: 51px;
  top: 23rem;
  left: 4.5rem;
}

.head-bg {
  background: rgba(95, 108, 222, 0.75);
  backdrop-filter: blur(15px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 20px 20px 0px 0px;
}

.layout-1 {
  background: linear-gradient(
    180deg,
    #5f6cde 31.77%,
    rgba(95, 108, 222, 0.541667) 70.31%,
    rgba(95, 108, 222, 0) 100%
  );
}

.inner-layout-1 {
  background: #36394e;
  opacity: 0.75;
  backdrop-filter: blur(10px);
  border-radius: 20px;
}

.section2 {
  background: #ffffff;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.09);
  border-radius: 20px;
}

.section3 {
  width: 720px;
  height: 654px;
  left: 0px;
  top: 2105px;
  background: url("../img/Untitled-2.png");
  border-radius: 0px 0px 130px 0px;
}

.p-color {
  color: rgba(255, 255, 255, 0.65);
}

.text-item-carousel {
  background: #36394e;
  border-radius: 20px 20px 0px 0px;
}

/* facebook */
.svg-menu_facebook, .svg-menu_facebook *
{
  transition: all 0.25s ease-out;
}

.svg-menu_facebook {
  transform-origin: 50% 50%;
}

.svg-menu_facebook:hover {
  transform: scale(1.1);
}

.svg-menu_facebook:hover .svg-menu_facebook_background *
{
  fill: #364FFB;  
}

/* instagram */
.svg-menu_instagram, .svg-menu_instagram *
{
  transition: all 0.25s ease-out;
}

.svg-menu_instagram {
  transform-origin: 50% 50%;
}

.svg-menu_instagram:hover {
  transform: scale(1.1);
}

.svg-menu_instagram:hover .svg-menu_instagram_background *
{
  fill: orange;
}

/* youtube */

/* instagram */
.svg-menu_youtube, .svg-menu_youtube *
{
  transition: all 0.25s ease-out;
}

.svg-menu_youtube {
  transform-origin: 50% 50%;
}

.svg-menu_youtube:hover {
  transform: scale(1.1);
}

.svg-menu_youtube:hover .svg-menu_youtube_background *
{
  fill: #FF0000;
}

.text-footer {
  color: rgba(255, 255, 255, 0.65);
}

line {
  border-top: 1px solid rgb(255, 255, 255);
}

.privacy-text {
  color: rgba(255, 255, 255, 0.65);
}